Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
IndentCaseLabels: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignOperands: true
SortIncludes: true
IncludeBlocks: Preserve

MacroBlockBegin: "^#if"
MacroBlockEnd: "^#endif"

IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2